h1{
    text-align: center;
    font-style: italic;
    text-decoration-thickness: 4px;
    color: darkcyan;

}

.link{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 8px;
    font-size: large;
    

    
   
}
a{
    text-decoration: none;
    padding-right: 0.5%;
    font-size: 25px;
    padding-left: 20px;
    color: darkcyan;
    
}

.groupe{
    display: inline;
    animation-delay: 250ms;
    align-content: center;
    backdrop-filter: blur(10px);
}
h2{
    color: darkblue;
    text-align: left;
}
.art{
    text-align:center;
    font-style: italic;
    border-style: inset;

  
}

body{
    background-color:darkslategrey;
}
.color{
    background-color: black;
}
.logo{
    border-radius: 70px;
   animation-name: initial;
   
}

p{
    border-style: groove;
}
.sisr{
    text-align: center;
    
}
.sisr1{
    text-align: center;
}
.border{
    border-width: 6px;
    color: black;
}